root = true

############################
# General
############################

[*.cs]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

############################
# C#
############################

#### Formatting ####

csharp_new_line_before_open_brace = all
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = one_less_than_current

dotnet_sort_system_directives_first = true

#### var preferences ####

csharp_style_var_for_built_in_types = false:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = false:warning

#### Expression-bodied members ####

csharp_style_expression_bodied_methods = when_on_single_line:warning
csharp_style_expression_bodied_properties = when_on_single_line:warning
csharp_style_expression_bodied_constructors = false:warning

#### Pattern matching ####

csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_pattern_matching_over_as_with_null_check = true:warning

#### Null checks ####

dotnet_style_coalesce_expression = true:warning
dotnet_style_null_propagation = true:warning

#### Naming rules ####

## Private

dotnet_naming_rule.private_fields_should_be_camelcase.severity = warning
dotnet_naming_rule.private_fields_should_be_camelcase.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_camelcase.style = camelcase_underscore_style

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.camelcase_underscore_style.capitalization = camel_case
dotnet_naming_style.camelcase_underscore_style.required_prefix = _

## Public

dotnet_naming_rule.public_members_pascal_case.severity = warning
dotnet_naming_rule.public_members_pascal_case.symbols = public_members
dotnet_naming_rule.public_members_pascal_case.style = pascal_case_style

dotnet_naming_symbols.public_members.applicable_kinds = property, method, field, event
dotnet_naming_symbols.public_members.applicable_accessibilities = public

dotnet_naming_style.pascal_case_style.capitalization = pascal_case

############################
# Unity
############################

dotnet_style_require_accessibility_modifiers = always:warning
